* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #7D7D7D;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#content {
    width: 600px;
    padding: 20px;
    background-color: black;
    font-weight: bold;
    color: #D6D6D6;
    border-radius: 20px;
    align-self: center;
}